# Output of the build
/target

# Audio files for testing
*.wav

# Allow test audio files
!Sample.wav

# Generated python plots or scripts
*.py
*.sh

# Input and output files for testing
INPUT.txt
OUTPUT.txt
INPUT*.bin
OUTPUT*.bin
